<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">Agendamento</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" tabindex="0"><a href="javascript:void(0)">Agenda</a></li>

                        <li class="breadcrumb-item active">Agendamento</li>

                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-sm-flex d-md-flex flex-wrap justify-content-end">

            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header bg-info">
                    <h4 class="mb-0 text-white">Dados do Agendamento</h4>
                </div>
                <form [formGroup]="formAgenda">
                    <!-- <div class="card-body">
                        <h4 class="card-title">Person Info</h4>
                    </div>
                    <hr> -->
                    <div class="form-body mb-0">
                        <div class="card-body">
                            <div class="row pt-3">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <mat-form-field class="mat-form-field">
                                            <input matInput type="text" formControlName="idAgenda" id="idAgenda"
                                                placeholder="N° Agendamento" readonly>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!--/span-->
                                <div formGroupName="cliente" class="col-sm-10">
                                    <div class="form-group">
                                        <div class="d-flex flex-row justify-content-between bd-highlight mb-3">

                                            <div class="p-0 w-100 flex-fill bd-highlight">
                                                <mat-form-field class="mat-form-field">
                                                    <input matInput #inputCli type="search" [typeahead]="dataSource$"
                                                        formControlName="nmPessoa" placeholder="Cliente"
                                                        [isAnimated]="true" typeaheadOptionField="nmPessoa"
                                                        (typeaheadNoResults)="typeaheadNoResultsCli($event)"
                                                        (typeaheadOnSelect)="onSelectCliente($event)">
                                                    <button mat-button matTooltip="Limpar campo cliente"
                                                        *ngIf="inputCli.value !==''" matSuffix mat-icon-button
                                                        aria-label="Clear" (click)="onClearFormCliente(inputCli)">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                    </button>
                                                    <mat-hint *ngIf="noResultCli" align="end">{{errorMessage}}
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <div class="p-1 bd-highlight">
                                                <button mat-button matSuffix class="btn btn-sm btn-block btn-primary"
                                                    matTooltip="Cadatrar novo cliente" aria-label="Add"
                                                    (click)="onDialogCliente()">
                                                    <i class="fa fa-plus" aria-hidden="true"></i> Novo
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--/row-->
                            <div class="row">

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker" formControlName="data" name="data"
                                                id="data" placeholder="Data">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput type="time" formControlName="horario" id=""
                                                placeholder="Horário">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput type="number" formControlName="tempo" id="tempo"
                                                placeholder="Tempo">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group has-success">
                                        <mat-form-field>
                                            <mat-label>Status</mat-label>
                                            <mat-select formControlName="status">
                                                <mat-option value="A">Aberto</mat-option>
                                                <mat-option value="L">Confirmado</mat-option>
                                                <mat-option value="T">Finalizado</mat-option>
                                                <mat-option value="C">Cancelado</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!-- formGroupName="colaborador" -->
                                <div formGroupName="colaborador" class="col-sm-4">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Selecionar Profissionais</mat-label>
                                            <mat-select formControlName="idPessoa"
                                                (selectionChange)="onSelectColaborador($event.value)">
                                                <mat-option *ngFor="let colaborador of colaboradoresList"
                                                    [value]="colaborador.idPessoa">
                                                    {{colaborador.nmCurto}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                </div>

                                <!-- (selectionChange)="onSelectColaborador($event)" -->
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Observação</mat-label>
                                            <textarea formControlName="observacao" id="observacao" name="observacao"
                                                matInput></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <!-- <h4 class="card-title">Serviços</h4> -->
                        </div>
                    </div>
                    <div class="card-header bg-primary">
                        <h4 class="mb-0 text-white">Serviços</h4>
                    </div>
                    <div class="form-body">
                        <div class="card-body">

                            <div formArrayName="items" class="row">
                                <div class="col-sm-12" *ngFor="let item of items.controls ;index as i;">
                                    <div class="row" [formGroupName]="i">
                                        <div class="col-sm-1">
                                            <div class="form-group">
                                                <mat-form-field>
                                                    <input matInput value="{{i+1}}" placeholder="Item" readonly>
                                                </mat-form-field>

                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group" formGroupName="produto">
                                                <!-- <mat-label>Serviços</mat-label> -->
                                                <mat-form-field>
                                                    <mat-select placeholder="Serviço"
                                                        (selectionChange)="onSelectServico($event.value,i)"
                                                        formControlName="idProduto">
                                                        <mat-option *ngFor="let produto of produtoList"
                                                            [value]="produto.idProduto">
                                                            {{produto.nmProduto}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <!-- <input type="text" formControlName="idProduto" class="form-control" id="Schoolname" name="Schoolname" placeholder="School Name"> -->
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <mat-form-field>
                                                    <input (change)="changeQtd($event.target.value,i)" matInput
                                                        type="number" formControlName="quantidade" id="quantidade"
                                                        name="quantidade" placeholder="Quantidade">
                                                </mat-form-field>

                                            </div>
                                        </div>
                                        <!-- <div class="col-sm-2">
                                                <div class="form-group">
                                                    <mat-form-field>
                                                        <input matInput type="text" formControlName="vlUnitario"
                                                            id="vlUnitario" name="vlUnitario" placeholder="vl.Unitário">
                                                    </mat-form-field>
    
                                                </div>
                                            </div> -->
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <mat-form-field>
                                                    <input readonly matInput type="text" formControlName="vlItem"
                                                        id="vlItem" name="vlItem" placeholder="Vl.Item">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <button *ngIf="arrayLength() == i" class="btn btn-success" type="button"
                                                    (click)="addItem()"><i class="fa fa-plus"></i></button>
                                                <button *ngIf="arrayLength() != i" class="btn btn-danger" type="button"
                                                    (click)="removeItem(i)"><i class="fa fa-minus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div [formGroupName]="i" class="form-group">
                                            <input type="text" formControlName="produto.nmProduto"> 
                                        </div> -->

                                </div>
                            </div>

                            <div class="action-form">
                                <div class="form-group mb-0 text-right">
                                    <button type="button" [disabled]="!formAgenda.valid" (click)="created()" class="btn btn-info">Gravar</button>
                                    <button type="button" (click)="cancel()" class="btn btn-dark">Cancelar</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>