<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 align-self-center">
            <h4 class="page-title">Classic Dashboard</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" tabindex="0"><a href="javascript:void(0)">Dashboard</a></li>
                        <!---->
                        <!---->
                        <!---->
                        <li class="breadcrumb-item active">Classic Dashboard</li>
                        <!---->
                        <!---->
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default pagination</h4>
                    <h6 class="card-subtitle">This is basic Default pagination</h6>


                    <hr>


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Advanced pagination</h4>
                    <h6 class="card-subtitle">This is Advanced pagination</h6>
                    <div>maxSize = 5, rotate = false</div>

                    <hr>


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pagination size</h4>
                    <h6 class="card-subtitle">This is Pagination size</h6>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pagination Alignment</h4>
                    <h6 class="card-subtitle">Change the alignment of pagination components with flexbox utilities.</h6>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Disabled pagination</h4>
                    <h6 class="card-subtitle">This is Disabled pagination</h6>
                    <p>Pagination control can be disabled:</p>

                    <hr>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Custom links <span class="badge badge-success text-white">New</span></h4>
                    <h6 class="card-subtitle">A pagination with customized links:</h6>

                    <hr>


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Disabled pagination</h4>
                    <h6 class="card-subtitle">This is Disabled pagination</h6>
                    <p>Pagination control can be disabled:</p>

                    <hr>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Custom links <span class="badge badge-success text-white">New</span></h4>
                    <h6 class="card-subtitle">A pagination with customized links:</h6>

                    <hr>


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Disabled pagination</h4>
                    <h6 class="card-subtitle">This is Disabled pagination</h6>
                    <p>Pagination control can be disabled:</p>

                    <hr>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Custom links <span class="badge badge-success text-white">New</span></h4>
                    <h6 class="card-subtitle">A pagination with customized links:</h6>

                    <hr>


                </div>
            </div>
        </div>                
    </div>
</div>